---
# YAML Lint configuration for pan-scm-ansible
extends: default

rules:
  # 80 chars should be enough for everyone
  line-length:
    max: 160
    level: warning
  # Prefer explicit to implicit
  truthy: disable
  comments:
    min-spaces-from-content: 1
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  indentation:
    spaces: 2
    indent-sequences: consistent

ignore: |
  .git/
  .github/
  .venv/
  .pytest_cache/
  __pycache__/
  tests/unit/
  dist/
  .idea/
  docs/
  ansible_collections/
  .ansible/
  venv/